html,body{
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Times New Roman',sans-serif;
	font-weight: bold;
}
.contimg{
	background-image:url('C:/Users/hp/Desktop/image/taj-mahal.jpg');
	min-height: 100%;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.contimg2{
	background-image:url('C:/Users/hp/Desktop/image/pexels.jpg');
	min-height: 120%;
}
.contimg3{
	background-image:url('C:/Users/hp/Desktop/image/wp2415723.jpg');
	min-height: 90%;
}
.contimg,
.contimg2,
.contimg3{
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.context{
	position: absolute;
	top: 80%;
	width: 100%;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 7px;
}
.contbg{
	color: black;
	background-color:#C0C0C0;
	padding: 10px;
}
.contpara,
.contpara_light,
.contpara_dark
{
	padding: 30px 50px;
	text-align: center;
	font-size: 15px;
	font-family: 'Papyrus',serif;
}
.contpara_light{
	background-color: gray;
	color: white;
}
.contpara_dark{
	background-color: black;
	color: white;
}
.contpara h2{
	font-size: 25px;
	font-family: 'Courier New',serif;
}

